<nav class="flex items-center justify-between flex-wrap m-4 mb-2">
  
  <div class="w-full flex items-center flex-shrink-0 mr-6 bg-zinc-800 mb-2">
    <span class="font-semibold text-3xl tracking-tight px-1 text-yellow-100">hair on the circuits</span>
    <marquee class="hidden font-chicago text-base text-white tracking-tight grow md:block">enjoy your stay :)</marquee>
  </div>

  <div class="w-full flex items-center flex-shrink-0 text-white mr-6 mb-2">
    <span class="font-semibold text-l md:text-xl tracking-tight px-1 bg-zinc-800">a blog by eduardo hdz - saucesaft</span>
  </div>

  <div class="w-full block flex items-center">
      <a href="" class="block mt-0 lg:inline-block px-2
			bg-zinc-800 hover:bg-white text-white hover:text-zinc-800 mr-2"> blog </a>
      <a href="" class="block mt-0 lg:inline-block px-2
			bg-zinc-800 hover:bg-white text-white hover:text-zinc-800 mr-2"> cv </a>
      <a href="" class="block mt-0 lg:inline-block px-2
			bg-zinc-800 hover:bg-white text-white hover:text-zinc-800 mr-2"> about </a>
  </div>

</nav>
