<nav class="flex items-center justify-between flex-wrap m-2 md:m-4 mb-2">
  
  <div class="w-full flex items-center flex-shrink-0 mr-6 bg-zinc-800 mb-2">
    <a href="/" class="font-semibold text-3xl tracking-tight px-2 text-yellow-100 min-w-fit">hair on the circuits</a>
    <marquee class="hidden font-chicago text-base text-white tracking-tight grow md:block">enjoy your stay :)</marquee>
  </div>

  <div class="w-full flex items-center flex-shrink-0 text-white mr-6 mb-2">
    <span class="font-semibold text-l md:text-xl tracking-tight px-2 bg-zinc-800">a blog by eduardo hdz - saucesaft</span>
  </div>

  <div class="w-full block flex items-center">
      <a href="/brain" class="block mt-0 lg:inline-block px-2
			bg-zinc-800 hover:bg-white text-white hover:text-zinc-800 mr-2"> brain </a>
      <a href="/wiki" class="block mt-0 lg:inline-block px-2
			bg-zinc-800 hover:bg-white text-white hover:text-zinc-800 mr-2"> wiki </a>
      <a href="/work" class="block mt-0 lg:inline-block px-2
			bg-zinc-800 hover:bg-white text-white hover:text-zinc-800 mr-2"> work </a>
      <a href="/about" class="block mt-0 lg:inline-block px-2
			bg-zinc-800 hover:bg-white text-white hover:text-zinc-800 mr-2"> about </a>
  </div>

</nav>
